<!-- The template to display files available for upload -->
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<p id = "_{%=md5(file.name)%}">{%=file.name%}&nbsp;&nbsp;&nbsp;<span class = "percent"></span></p>
{% } %}