<!-- The template to display files available for download -->
{% for (var i=0, file; file=o.files[i]; i++) { %}
	{% if (file.error) { %}
        <span class="label label-danger">Error</span> {%=file.error%}</div>
    {% } %}
	{% if (file.deleteUrl) { %}
		<p id = "_{%=md5(file.name)%}" class = "template-download">
			<a href = "{%=file.url%}">{%=file.name%}</a>
			<span class = "delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"></span>
		</p>
	{% } else { %}
		<span class="cancel">Hủy</span>
	{% } %}	
{% } %}